<a href="https://colab.research.google.com/github/ssunggun2/2022_dacon_NLI/blob/main/NLPBlueHouse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive 

drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [2]:
!pip install konlpy

Collecting konlpy
  Downloading konlpy-0.6.0-py2.py3-none-any.whl (19.4 MB)
     |████████████████████████████████| 19.4 MB 1.3 MB/s
Collecting JPype1>=0.7.0
  Downloading JPype1-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (448 kB)
     |████████████████████████████████| 448 kB 44.2 MB/s
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.2.6)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.21.5)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (3.10.0.2)
Installing collected packages: JPype1, konlpy
Successfully installed JPype1-1.3.0 konlpy-0.6.0

In [6]:
import os
import pandas as pd
import urllib.request
%matplotlib inline
import matplotlib.pyplot as plt
import re
from zipfile import ZipFile
from konlpy.tag import Okt
from tensorflow.keras.preprocessing.text import Tokenizer
import numpy as np
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.datasets import reuters
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Embedding
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import load_model
from tqdm import tqdm

In [5]:
zip_dir = '/content/gdrive/MyDrive/화요일 스터디 폴더/daconBlueHouse'
zip_name = '청와대 청원.zip'
zipfPath = os.path.join(zip_dir, zip_name)

In [13]:
with ZipFile(zipfPath, 'r') as zip:
    zip.printdir()
    zip.extractall(zip_dir+'/data')

File Name                                             Modified             Size
sample_submission.csv                          2021-07-19 12:21:50        38906
test.csv                                       2021-07-19 12:21:50      6707224
train.csv                                      2021-07-19 12:21:52     53439079

In [14]:
data_dir = os.path.join(zip_dir,'data')

In [15]:
train = pd.read_csv(data_dir+'/train.csv', encoding = 'utf-8')
test = pd.read_csv(data_dir+'/test.csv', encoding = 'utf-8')
sample_submission = pd.read_csv(data_dir+'/sample_submission.csv', encoding = 'utf-8')

In [24]:
train.tail()

       index  category                                               data
39995  39995         2  시간유연근무제. 저는 국립대에서 일하고 있는 비정규직 근로자입니다.\n동시에  두 ...
39996  39996         0  소년법을 폐지해 주시고 부산 여중생 가해자 학생들의 강력한 처벌을 요구합니다. 소년...
39997  39997         2  무서운데 지켜야 할게 있어요 도와주세요. 안녕하세요 . 한부모엄마 입니다.\n양육비...
39998  39998         2  교복에  고정식 이름표를 달게 하는 것을 금지해 주세요.. 교복에 이름표를 박아놓아...
39999  39999         0  합의성관계 가능 나이연령을 올리십시오. 제가 형법공부를하다가 문제를풀고있는데\n금지...

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     40000 non-null  int64
 1   category  40000 non-null  int64
 2   data      39992 non-null  object
dtypes: int64(2), object(1)
memory usage: 937.6+ KB

In [21]:
train.isnull().sum()

index       0
category    0
data        8
dtype: int64

In [26]:
train = train.dropna(how = 'any', inplace=True)

AttributeError: ignored